body {
    margin: 0;
    padding: 0;
    height: 200vh; /* Adjust the height as needed */
    overflow: hidden; /* Disable scrolling on the body */
}

#overlay {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #000;
	font-color: #fff;
    padding: 15px;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
}

.overlay-content {
    display: flex;
    justify-content: space-around;
}

button {
    padding: 10px;
    cursor: pointer;
	border-radius: 20px; /* Adjust the radius as needed */
    background-color: #3498db; /* Adjust the background color as needed */
    color: #ffffff; /* Adjust the text color as needed */
    font-size: 1.4em;
}

.hidden {
    display: none;
}
